Repository cCornejoR/eFlood: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-type-check, frontend-lint, frontend-format-check, frontend-build, python-black, python-isort, python-flake8, python-mypy, python-tests, rust-fmt, rust-clippy, rust-test

frontend-type-check:
  name: TypeScript Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false

frontend-lint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

frontend-format-check:
  name: Prettier Format Check
  entry: npm run format:check
  language: system
  pass_filenames: false

frontend-build:
  name: Frontend Build Test
  entry: npm run build
  language: system
  pass_filenames: false

python-black:
  name: Black Code Formatter
  entry: bash -c 'cd src-python && uv run black --check .'
  language: system
  pass_filenames: false

python-isort:
  name: Import Sorting
  entry: bash -c 'cd src-python && uv run isort --check-only .'
  language: system
  pass_filenames: false

python-flake8:
  name: Flake8 Linting
  entry: bash -c 'cd src-python && uv run flake8 .'
  language: system
  pass_filenames: false

python-mypy:
  name: MyPy Type Checking
  entry: bash -c 'cd src-python && uv run mypy .'
  language: system
  pass_filenames: false

python-tests:
  name: Python Tests
  entry: bash -c 'cd src-python && uv run pytest'
  language: system
  pass_filenames: false

rust-fmt:
  name: Rust Format Check
  entry: bash -c 'cd src-tauri && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy
  entry: bash -c 'cd src-tauri && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

rust-test:
  name: Rust Tests
  entry: bash -c 'cd src-tauri && cargo test'
  language: system
  pass_filenames: false

docs: simplify README with correct logo path and Spanish content
  README.md
Due: none

feat: Mejoras completas en análisis HDF, condiciones de frontera, valores de Manning y componentes UI
  .claude/settings.local.json
  IMPROVEMENTS-ROADMAP.md
  presentation.html
  src-python/boundary_conditions_reader.py
  src-python/enhanced_boundary_conditions_reader.py
  src-python/hydrograph_exporter.py
  src-python/manning_extractor.py
  src-python/test/test_backend.py
  src-python/test/test_backend_complete.py
  src-python/test/test_boundary_conditions.py
  src-python/test/test_frontend_integration.py
  src-python/test/test_frontend_simulation.py
  src-python/test/test_hdf_analysis.py
  src-python/test/test_landcover_search.py
  src-python/test/test_manning_extraction.py
  src-python/test/test_manning_integration.py
  src/App.css
  src/components/HecRas/Logic/Analysis/BoundaryConditionsViewer.tsx
  src/components/HecRas/Logic/Analysis/HydrographChart.tsx
  src/components/HecRas/Logic/Analysis/ManningDebugViewer.tsx
  src/components/HecRas/Logic/Analysis/ManningValuesViewer.tsx
  src/components/HecRas/Logic/Analysis/ProfessionalManningTable.tsx
  src/components/HecRas/Logic/Analysis/SimpleManningTable.tsx
  src/components/ui/AnalysisStatus.tsx
  src/components/ui/FlowButton.tsx
  src/components/ui/SimpleAnalysisStatus.tsx
  src/components/ui/SystemMonitor.tsx
  test_backend.py
  test_hdf_analysis.py
Due: frontend-type-check, frontend-lint, frontend-format-check, frontend-build, python-black, python-isort, python-flake8, python-mypy, python-tests

feat: Recuperación completa de cambios - README mejorado, TanStack Table, SystemMonitor y todas las mejoras UI
  .claude/settings.local.json
  .gitignore
  README.md
  package-lock.json
  package.json
  src-python/changes.patch
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src/App.css
  src/App.tsx
  src/components/HecRas/Logic/Analysis/BoundaryConditionsViewer.tsx
  src/components/HecRas/Logic/Analysis/DataAnalyzer.tsx
  src/components/HecRas/Logic/Analysis/DataLoader.tsx
  src/components/HecRas/Logic/Analysis/HydrographChart.tsx
  src/components/HecRas/Logic/Analysis/HydrographViewer.tsx
  src/components/HecRas/Logic/Analysis/ManningDebugViewer.tsx
  src/components/HecRas/Logic/Analysis/ManningValuesViewer.tsx
  src/components/HecRas/Logic/Analysis/ProfessionalManningTable.tsx
  src/components/HecRas/Logic/Analysis/SimpleManningTable.tsx
  src/components/HecRas/Logic/Analysis/VTKExporter.tsx
  src/components/HecRas/Logic/AnalysisTab.tsx
  src/components/HecRas/Logic/HydraulicCalculationsTab.tsx
  src/components/HecRas/Logic/VTKViewerTab.tsx
  src/components/HecRas/UI/HecRasMenu.tsx
  src/components/HecRas/index.tsx
  src/components/Homepage.tsx
  src/components/ui/AnalysisStatus.tsx
  src/components/ui/FlowButton.tsx
  src/components/ui/SimpleAnalysisStatus.tsx
  src/components/ui/SystemMonitor.tsx
  src/components/ui/data-viewer-modal.tsx
  src/components/ui/vtk-export-modal.tsx
Due: frontend-type-check, frontend-lint, frontend-format-check, frontend-build, python-tests, rust-fmt, rust-clippy, rust-test

fix(ci): fix GitHub Actions workflows and update README
  .github/workflows/ci.yml
  .github/workflows/quality-analysis.yml
  LICENSE
  README.md
Due: none

fix(ci): simplify GitHub Actions workflows to essential checks only
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/quality-analysis.yml
Due: none

fix(ci): resolve TypeScript and Rust compilation errors
  .github/workflows/ci.yml
  LICENCE
  tsconfig.json
  vite.config.ts
Due: none

feat(ui): implement progressive navigation system for analysis workflow
  src/components/HecRas/Logic/Analysis/DataAnalyzer.tsx
  src/components/HecRas/Logic/Analysis/DataLoader.tsx
  src/components/HecRas/Logic/AnalysisTab.tsx
Due: frontend-type-check, frontend-lint, frontend-format-check, frontend-build

feat(tauri): enhance Rust backend with improved Python integration
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
Due: rust-fmt, rust-clippy, rust-test

feat(ui): enhance UI components with improved accessibility and styling
  src/components/ui/context-menu.tsx
  src/components/ui/highlight-multiline.tsx
  src/components/ui/modern-button.tsx
  src/utils/cn.ts
Due: frontend-type-check, frontend-lint, frontend-format-check, frontend-build

chore: update project configuration and build tools
  package-lock.json
  package.json
  scripts/analyze-warnings.js
  vite.config.ts
Due: none

fix(ci): configure pre-commit hooks for Windows compatibility
  .pre-commit-config.yaml
  src/components/HecRas/Logic/Analysis/DataAnalyzer.tsx
Due: frontend-type-check, frontend-lint, frontend-format-check, frontend-build

docs: enhance README with professional design and custom typography
  .github/readme-styles.css
  README.md
Due: none

refactor: reorganizar backend Python - estructura limpia y profesional
  src-python/__init__.py
  src-python/eflood2_backend/integrations/ras_commander/commander_manning.py
  src-python/eflood2_backend/integrations/ras_commander/commander_results.py
  src-python/eflood2_backend/integrations/ras_commander_integration.py
  src-python/eflood2_backend/scripts/__init__.py
  src-python/eflood2_backend/scripts/create_test_hdf.py
  src-python/eflood2_backend/scripts/hdf_complete_analysis.py
  src-python/test/test_analyzer_backend.py
  src-python/test/test_complete_integration.py
  src-python/test/test_hdf_extraction.py
Due: python-black, python-isort, python-flake8, python-mypy, python-tests

fix: actualizar referencias de scripts Python en Tauri
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy, rust-test

feat: actualizar frontend React con mejoras en Analyzer+ y componentes UI
  src/App.css
  src/components/HecRas/Logic/Analysis/CompleteDataViewer.tsx
  src/components/HecRas/Logic/Analysis/DataAnalyzer.tsx
  src/components/HecRas/index.tsx
  src/components/analyzer-plus/Logic/ExportManager/ExportManagerSection.tsx
  src/components/analyzer-plus/Logic/HydrographAnalysis/HydrographAnalysisSection.tsx
  src/components/analyzer-plus/Logic/ManningAnalysis/ManningAnalysisSection.tsx
  src/components/analyzer-plus/Logic/MeshAnalysis/MeshAnalysisSection.tsx
  src/components/analyzer-plus/Logic/ProjectAnalysis/ProjectAnalysisSection.tsx
  src/components/analyzer-plus/UI/AnalyzerPlusMenu.tsx
  src/components/analyzer-plus/index.tsx
  src/components/ui/Footer.tsx
Due: frontend-type-check, frontend-lint, frontend-format-check, frontend-build

Path conditions:
  frontend-type-check: any of: ^src/.*\.(ts|tsx)$
  frontend-lint: any of: ^src/.*\.(ts|tsx|js|jsx)$
  frontend-format-check: any of: ^src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-build: any of: ^src/
  python-black: any of: ^src-python/.*\.py$
  python-isort: any of: ^src-python/.*\.py$
  python-flake8: any of: ^src-python/.*\.py$
  python-mypy: any of: ^src-python/.*\.py$
  python-tests: any of: ^src-python/
  rust-fmt: any of: ^src-tauri/.*\.rs$
  rust-clippy: any of: ^src-tauri/
  rust-test: any of: ^src-tauri/
